* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-ae {
    color: var(--aecolor);
}

li>a:hover {
    transform: scale(1.1);
    transition: 2s;
}


@media screen and (min-width: 990px) {

    li>a[href="#"] {
        background-color: var(--aecolor);
        border-radius: 0 15px;

    }
}

.btn-ae {
    
    --bs-btn-bg: var(--aecolor) !important;
    --bs-btn-border-color: var(--aecolor);
    --bs-btn-hover-color: var(--aecolor);
    --bs-btn-hover-bg: #fff !important;
    --bs-btn-hover-border-color: var(--aecolor);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--aecolor);
    --bs-btn-active-border-color: var(--aecolor);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

:root {
    --aecolor: #d90368;
}

header {
    height: 12vh;
}

nav {
    position: relative;
    z-index: 3;
}

main {
    height: 84vh;

}

footer {
    height: 4vh;
}

.form-check-input:checked {
    background-color: var(--aecolor) !important;
    border-color: var(--aecolor) !important;
}

.card-carrousel {
    height: 80%;
}

.cat-dop {
    display: none;
}

.navbar-brand:hover {
    transform: rotate(360deg);
    transition: 3s;
}

.sombra-photo {
    box-shadow: -2px -2px 8px #000000;
    width: inherit;
    border-radius: 10px;
}

.detail-photo {
    width: -webkit-fill-available;
    border-radius: 15px;
}

.card-img-top {

    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0 !important;
}

#card-container > div > div{
    display: flex;
    justify-content: center;
}

.card {
    max-width: 18rem;
    min-width: 288px;
    border-radius: 15px !important;
    box-shadow: 1px 1px 2px var(--bs-black);
}

.card:hover {
    transform: scale(1.01);
    transition: 0.5s;
    background-color: #d9d9d975;
    box-shadow: 2px 2px 5px var(--bs-black);
}

.card-body {
    min-height: 146px;
}

.card-carousel {
    margin-top: 8%;
}

.cat404 {
    width: 20%;
    /* Ajusta el alto a tu gusto */
}



#card-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-out;
}

#card-container.slick-initialized {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width:904px) {
    .search-bar {
        width: 100%;
    }
}

.detailsContenedor{
    background-color: #d90368;
    border-radius: 40px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    gap: 3;
    align-items: center;
}

.contenedorDiv{
    flex-direction: column;
    background-color: #ffff;
    border-radius: 20px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1;
}

.contenedorText{
    box-shadow: -2px -2px 8px #000000;
    width: inherit;
    border-radius: 10px;
}

th,tr{
    text-align: center;
}

.stats{
    overflow-y: auto;
    padding-top: 8px;
    
}

.tabletitle{
    background-color: #d90368 !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

table{
    
    border-collapse: collapse
}

thead{

}